<p>You get a new contact message from the user</p>

<p>name:</p>
<%= @name %>

<p>phone numebr:</p>
<%= @phone %>

<p>email:</p>
<%= @email %>


<p>message_type</p>
<%= @type %>


<p>message:</p>
<%= @message %>

